
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.parallax{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .90;
  background-image: url("../assets/images/parallax.jpg");
  min-height: 100%;

}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;

}

.caption span.border {
  background-color: rgba(245, 245, 245, 0.75);
  color: rgb(13, 78, 19);
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: rgb(13, 78, 19);
}

.txt2 > h3, .txt3 > h3{
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: white;
}



.txt1{
  color:rgb(13, 78, 19);
  background-color:rgba(245, 245, 245, 0.20);
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

.txt2{
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
  position:relative;
}

.txt3{
  color:#ddd;
  background-color:rgb(10, 59, 15);
  text-align:center;
  padding:50px 80px;
  text-align: justify;
  position:relative;
}

.footer{
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:5px;
  text-align: center;
  position:relative;
}
